<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css'%}"> <!--{% static 'folderName/fileNameWithExtenction' %} -->
</head>
<body>
    <center>
        <h1>AI</h1>
        <img src="{% static 'img/IMG_20241103_104258.jpg' %}" alt="AI" width="500" height="1000"> <!--{% static 'folderName/fileNameWithExtenction' %} -->
    </center>
</body>
</html>